<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products List</title>
</head>

<body>
    <h1 style="color:#800000;">Продукты</h1>
    <div th:switch="${products}">
        <h2 th:case="null">Нет найденных продуктов!</h2>
        <div th:case="*">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Наименование продукта</th>
                        <th>Группа</th>
                        <th>Партия</th>
                        <th>Срок годности, дн.</th>
                        <th>Количество, кг</th>
                        <th>Годен к употреблению</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td>
                            <a th:href="@{/api/storage-info/food-group?name={fg}(fg=${product.foodGroup})}"
                               th:text="${product.foodGroup}"></a>
                        </td>
                        <td th:text="${product.consignment}"></td>
                        <td th:text="${product.shelfLife}"></td>
                        <td th:text="${product.count}"></td>
                        <td th:text="${product.isInGoodCondition} ? 'да' : 'нет'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/api/storage/add"><button>Добавить продукт</button></a>
    </div>

    <p><a href="/api"><button>Главная страница</button></a></p>
</body>
</html>